@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,bold,italic&subset=latin,latin-ext");

:root {
  --dark-color: #2f455c;
  --light-color: #75d3bb;
}

body {
  background-color: white;
  color: var(--dark-color);
}

.headerFont {
  font-family: "Orbitron"; /*"Share Tech Mono";*/
  font-size: 30px;
  text-align: center;
}

.selectedCoin {
  border: thick dashed;
  border-color: #75d3bb;
  border-radius: 50%;
  margin-bottom: 20px;
}
