@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,bold,italic&subset=latin,latin-ext");

:root {
  --dark-color: #2f455c;
  --light-color: #75d3bb;
}

body {
  background-color: white;
  color: var(--dark-color);
  font-size: 20px;
}

.headerFont {
  font-size: 30px !important;
  text-align: center !important;
}

/************************
    HEADER.JS
************************/
.MenuContainer {
  margin-top: 20px !important;
  margin-bottom: 50px !important;
  background-color: #333 !important;
  box-shadow: 0px 5px 10px 5px black !important;
}

.AppTitle {
  font-size: 30px !important;
  text-align: center !important;
  color: white !important;
  font-style: italic;
}

.WalletAmount {
  background-color: var(--light-color) !important;
  color: white !important;
  font-weight: bold !important;
}

.WalletInfo {
  background-color: var(--dark-color) !important;
  color: white !important;
  font-weight: bold !important;
}

/************************
    STAKEPLAY.JS
************************/
.GridContainer {
  border: 20px solid var(--dark-color);
  border-radius: 100px;
  background-color: #ccc;
  background-image: url("./images/textures/metallic-texture.jpg") !important;
  background-size: cover;
  box-shadow: 3px 3px 20px 3px var(--dark-color) inset, 0px 5px 10px 5px black;
  outline: 1px solid black;
  outline-offset: 0px;
}

.selectedCoin {
  border: thick dashed;
  border-color: #75d3bb;
  border-radius: 50%;
  cursor: pointer;
  fill: white;
}

.coin {
  cursor: pointer;
  background-color: white;
  color: white;
  fill: white;
}

.stakeMsgContainer {
  text-align: center !important;
  font-style: italic;
  background-color: rgba(30, 30, 30, 0.1);
}

.stakeAmountInput {
  width: 100%;
  margin-bottom: 20px !important;
  padding: 20px !important;
  font-size: 20px !important;
  color: var(--light-color) !important;
  height: 60px;
  text-align: center;
  display: inline-block;

  background-color: rgba(30, 30, 30, 0.7) !important;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0px 6px 0px #656c72, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5) !important;
  -moz-box-shadow: 0px 6px 0px #656c72, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0px 6px 0px #656c72, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5) !important;
}

.stakeAmountInput::-webkit-input-placeholder {
  font-size: 16px !important;
}

.luckBtn {
  width: 100%;
  padding: 20px !important;
  background-color: var(--dark-color) !important;
  font-size: 20px !important;
  color: var(--light-color) !important;
}

.stakeBtn {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white !important;
  font-weight: bold;
  background-color: var(--dark-color) !important;
  padding: 20px 70px !important;
  margin-bottom: 20px;
  font-size: 20px !important;
  border: 1px solid #2d6898;
  background-image: linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(73, 132, 180)),
    color-stop(1, rgb(97, 155, 203))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.stakeBtn:active {
  background-image: linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88, 154, 204)),
    color-stop(1, rgb(90, 150, 199))
  );

  -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tableResultRows {
  margin: 20px auto 20px auto !important;
  width: 70% !important;
  border: thick solid !important;
  border-color: var(--dark-color) !important;
}

.tableCellHeader {
  background-color: var(--light-color) !important;
}
